*.bkp
*~
vars.yml
callisto_conf.cfg
*.rpm
*.pem
*.pyc
__pycache__
logs
TempFiles

callisto/html/components/vars.php
callisto/.SHARED.txt

callisto/cgi-bin/ExempleService*.py
callisto/logs/** 

callisto/bin/contenu.json
callisto/bin/data.json
callisto/bin/contenu_indiv.json
callisto/html/TempFiles/general_file.csv
callisto/logs/register_service.log