# Are we living on a server, or on your laptop ?
# Values allowed: laptop/server
callisto_living_on: laptop

# It takes a long time to send all files to the containers !
send_all_files: true

# Do we want ssh server on the containers ?
# This is useful for testing prupose, as ssh is the easiest way of running graphical applications
# on the container (ie firefox)
ssh_wanted: true
#ssh_wanted: false

# The following is useful ONLY if running on a server
# The platform name - Avoid "_" in the name, prefer "-": callisto-local is OK, callisto_local is BAD
callisto_name: "callisto-local"
#callisto_name: "callisto-dev"
#callisto_name: "callisto"

# The callisto top domain name - Even on your laptop, please specify a domain name
#callisto_topdomainname: calmip.univ-toulouse.fr
callisto_topdomainname: mylaptop

# The callisto protocol: http for laptop, https for server
callisto_protocol: http
#callisto_protocol: https

# The timezone of the callisto containers
callisto_timezone: "Europe/Paris"

# The port on which your Allegro installation will run
allegro_port: 10035

# The user under which your Allegro installation will run
allegro_user: "user"

# The password for the user running Allegro
allegro_password: "password"


# USEFUL ONLY WHEN CALLISTO IS LIVING ON A SERVER
# ===============================================
# The email addresses used by several system automatic procedures
#system_email_from: "noreply@calmip.univ-toulouse.fr"
#system_email_to:   "systeme.calmip@univ-toulouse.fr"
#root:              "{{ system_email_to }}"
#mailhub:           "comue-smtp-relay.univ-toulouse.fr"

# NOTHING TO CHANGE BELOW THIS POINT !
# ====================================

callisto_url: "{{ callisto_name }}.{{ callisto_topdomainname }}"


