callisto-conf-allegro:
        host = CallistoAllegro
        port = 10035
        user = 
        password = 

callisto-conf-ontologies:
	root_iri = 
	root_https = 
	root_allegro = 
	onto_suffix = 

callisto-conf-generic:
	close_enough = 0.28

callisto-conf-dataverse:
	host_port = CallistoDataverse:8080
	host_url= 

callisto-conf-portal:
	host = 
	logs = /usr/local/callisto/logs/
	html = /html/
	temp = TempFiles/
