-----BEGIN CERTIFICATE-----
MIIEATCCAumgAwIBAgIUEajhgsAnTu/J/HaKIc85dI862qowDQYJKoZIhvcNAQEL
BQAwgZAxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdNeVN0YXRlMQ8wDQYDVQQHDAZN
eUNpdHkxDjAMBgNVBAoMBU15T3JnMSwwKgYJKoZIhvcNAQkBFh1lbWFpbEBjYWxs
aXN0by1sb2NhbC5teWxhcHRvcDEgMB4GA1UEAwwXY2FsbGlzdG8tbG9jYWwubXls
YXB0b3AwHhcNMjAwOTMwMDgxMTQ3WhcNMzAwNjMwMDgxMTQ3WjCBkDELMAkGA1UE
BhMCRVMxEDAOBgNVBAgMB015U3RhdGUxDzANBgNVBAcMBk15Q2l0eTEOMAwGA1UE
CgwFTXlPcmcxLDAqBgkqhkiG9w0BCQEWHWVtYWlsQGNhbGxpc3RvLWxvY2FsLm15
bGFwdG9wMSAwHgYDVQQDDBdjYWxsaXN0by1sb2NhbC5teWxhcHRvcDCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAMIOwwRvPtxirbOq14s6Jh8oThjHCgnM
OzYIvNXBj8j8DGoaBhwleKJ7jpeELJeujM3IeBZ2NAuTT2ipStUPtiEBMoXTvp39
Ev6gq8zG10VnjUPRwON1rvNjaKo6tWW8gJ4wJTMWI0RZPNqwBtcbyuGB11SZ4Y4r
OD/x7T2+k6+4GMJwrIAV6Ncp4qgBPVCR8tqfh7xssGy+C/9O3ImSx7LZGqSMadiM
HrlpDavl+5WJYHM3EkkAFzDSaLFI/mLQSXdMU53iFmM6huHwwer/KGr1J2+qGgmo
naff9Y6zMjAtMyPVY30PstGjOnnAI0HpzQFy2j3VaQV9PA/n7wT9gQ8CAwEAAaNR
ME8wTQYDVR0RBEYwRIIhZGF0YXZlcnNlLmNhbGxpc3RvLWxvY2FsLm15bGFwdG9w
gh9hbGxlZ3JvLmNhbGxpc3RvLWxvY2FsLm15bGFwdG9wMA0GCSqGSIb3DQEBCwUA
A4IBAQCHN737RBZ1R5L9905LEpa8ErDM+Lv3vEo485fchhCiHnQ8+DaqpFCRAhcq
np3Aipp9v4RbWcpAvtv2nmdJIiiAri48mLn75Gmh3vlbjOj2sNFN1fILZxSuCouk
p7Xx1sQm0I+az1d/GFDWVKTYR//wQA8D6p3UcETaBKhHOU3ookeB293PfbDhip+3
RZSQSGfSTJGaJAGHv78fG6DZVIVWJc8dx9IBqCfvIAguMyWH5nZWZBdasW/MJrMr
vj4RF10KjfR2NSlj/+yaRE4iwDJDU+ryhjgGwmaksOpT9c8bjLU5o7HPuq91Y6Aj
J7/OWCzPLPeqJNK698MdlaS1+p0l
-----END CERTIFICATE-----
