/*/////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////   General   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
body {
    font-size: 100%;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 110%;
    }
}



*{
    margin:0;
    padding:0;
    overflow-x: none;
}

body{
    _background:url("../image/fondbody.png") no-repeat fixed;
    _background-size:100% 100%;
    font-family: 'CaviarDreams';
    _width: 80%;
    _margin: 0 auto;
}

section{
    background: #0f056b;
}

a{
    text-decoration:none;
}

.clear{
    clear:both;
}

/* Ajout de le police CaviarDreams */
@font-face {
    font-family: 'CaviarDreams';
    src: url('../font/CaviarDreams/CaviarDreams-webfont.eot');
    src: url('../font/CaviarDreams/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/CaviarDreams/CaviarDreams-webfont.woff2') format('woff2'),
    url('../font/CaviarDreams/CaviarDreams-webfont.woff') format('woff'),
    url('../font/CaviarDreams/CaviarDreams-webfont.ttf') format('truetype'),
    url('../font/CaviarDreams/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

div#Wait{
    z-index: 5002;
    display: none;
    color: white;
    font-variant: small-caps;
    position: fixed;
    width: 30%;
    margin-left: 35%;
    background: #0f056b;
    top:40%;
    border-radius: 10px;
    text-align: center;
    padding: 13px 0;
    border: 2px solid white;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////   Header   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

header.Banniere{
    background: white;
}

img.LogoPolarBase{
    _width: 10%;
    width: 200px;
    position: absolute;
    left:17px;
    _left:12%;
    top:17px;
    z-index: 4000;
}

/*/////////////////////////////////   Menu   //////////////////////////////*/

ul.Menu{
    font-size: 1.2em;
    list-style:none;
    text-align:center;
    font-weight: bold;
    width: 50%;
    float: right;
}

ul.Menu li{
    width: calc(100%/4.2);
    padding: 20px 0;
    float:left;
}

ul.Menu a{
    color: #0f056b;
    padding: 10px 20px;
    font-variant:small-caps;
}

ul.Menu a:hover{
    background: #453aa6;
    color: white;
}

ul.Menu a.selected{
    border: 2px solid #0f056b;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////   Slider   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

.jssorb21 {
    position: absolute;
}

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../image/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
    background-position: -35px -5px;
}

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}

.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../image/a01.png) center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21l.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21r.jssora21rdn {
    background-position: -303px -33px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////   Animation Slider   ////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

.iconeinfo{
    cursor: pointer;
    width: 20px;
}

div.InfoArticles{
    width:300px;
    height: 300px;
    position: absolute;
    top:150px;
    background:url("../image/rondfond.png") no-repeat;
    background-size:100% 100%;
    text-align: center;
    font-variant:small-caps;
    color: white;
}

div.LeftA{
    left:75px;
}

div.RightA{
    right:75px;
}

div.InfoArticles h2{
    padding:70px 0 10px 0;
    font-size: 2.4em;
    text-decoration: underline;
}

div.InfoArticles p{
    font-size: 1.2em;
    padding: 10px 20px 30px 20px;
}

.slideinfo{
    display: none;
    text-align: center;
    color: white;
}

.slideinfo h2{
    font-variant:small-caps;
    font-size: 2em;
    text-decoration: underline;
    padding: 10px;
}

.slideinfo h3{
    font-variant:small-caps;
    font-size: 1.5em;
}

.slideinfo p{
    padding: 50px 80px;
    text-align: justify;
    font-size: 1.1em;
}

.slideinfo p span{
    text-decoration: underline;
    font-weight: bold;
}

.slideinfo img{
    width: 60%;
    padding: 50px 0;
}

.slideinfo p img.imgdata{
    float: right;
    width: 27%;
    padding: 20px 0px 20px 30px;
}

.slideinfo a{
    color: white;
    text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////   Search   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

section.Contenu div.Titre{
    display: block;
    text-align: center;
    color: #0f056b;
    background: white;

}

section.Contenu div.Titre h1{
    font-size: 2em;
    padding: 20px 0;
    font-variant:small-caps;
    font-weight: bold;
}

/*//////////////////////////////   Formulaire   ///////////////////////////*/

form.Formulaire table{
    width:100%;
    font-size: 1em;
    font-weight: bold;
    font-variant:small-caps;
    color: white;
    padding:20px;
}

form.Formulaire table td{
    font-size: 0.8em;
}

form.Formulaire table th{
    text-align: left;
    padding: 10px 0;
    font-size: 1.2em;
}

form.Formulaire table th[colspan="2"]{
    width: calc(100%/3);
}

form.Formulaire table .checkbox{
    text-align: center;
}

form.Formulaire table .textform2{
    height: 20px;
    width: 100px;

}

form.Formulaire table .textform1{
    width:80%;
    height: 20px;
}

form.Formulaire table label{
    padding-right: 40px;
    padding-left: 20px;
    font-size: 1em;
}

form.Formulaire table .bouton{
    color: white;
    border:1px solid white;
    background: #0f056b;
    font-family: 'CaviarDreams';
    width: 180px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    font-variant:small-caps;
}

form.Formulaire table a.bouton{
    display: inline-block;
    height: 38px;
    line-height: 40px;
    margin:22px 50px 0px 50px;
}

form.Formulaire table .bouton:hover{
    background: #453aa6;
    color: white;
    cursor: pointer;
}

form.Formulaire table .morefields{
    display: none;
}

div.boutonDown a.bouton{
    color: white;
    border:1px solid white;
    background: #0f056b;
    font-family: 'CaviarDreams';
    width: 300px;
    font-weight: bold;
    font-size: 1em;
    font-variant:small-caps;
    display: inline-block;
    height: 38px;
    line-height: 40px;
    margin:22px 50px;
    text-align: center;
}

div.boutonDown{
    width: 810px;
    margin: 0 auto;
}

div.boutonDown a.bouton:hover{
    background: #453aa6;
    color: white;
    cursor: pointer;
}

/*/////////////////////////////   TableResults   //////////////////////////*/

section.Tableaux{
    background: #0f056b;
    text-align: center;
    width: 100%;
}

table.Results{
    width: 98%;
    color: white;
    border-collapse:collapse;
    margin: 0 auto;
}

table.Results tr.lignePaire{
    background: #0f056b;
}

table.Results tr.ligneImpaire{
    background: #453aa6;
}

table.Results td, table.Results th{
    border: 2px solid white;
    padding: 5px;
}

table.Results th{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
}

table.Results td{
    font-size: 0.8em;
}

.arrowtab .left,.arrowtab .right{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px;
    float: right;
}

.arrowtab .left{
    background: url(../image/arrowl.png);
    background-size: 100% 100%;
}

.arrowtab .right{
    background: url(../image/arrowr.png);
    background-size: 100% 100%;
}

.arrowtab .left:hover{
    background: url(../image/arrowlhover.png);
    background-size: 100% 100%;
}

.arrowtab .right:hover{
    background: url(../image/arrowrhover.png);
    background-size: 100% 100%;
}

.arrowtab .arrowindic{
    display: block;
    color: white;
    line-height: 20px;
    height: 20px;
    width: 200px;
    margin:10px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 0.8em;
    float: right;
    text-align: center;
}

.arrowtab{
    background: red;
    display: block;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////   PopUp Plot   ///////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

section#PlotBackground{
    display: none;
    position: fixed;
    background: black;
    opacity: 0.7;
    z-index: 5000;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#Plot{
    display: none;
    position: fixed;
    height: 80%;
    width: 80%;
    margin:2.5% 10%;
    z-index: 5001;
    top:0;
    left: 0;
    background: rgba(0,0,0,0);
}

section#Plot a.OngletActif,section#Plot a.OngletNonActif{
    display: block;
    float: left;
    width: 49.5%;
    padding: 10px 0;
    font-size: 1.5em;
    color:white;
    font-variant: small-caps;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    cursor: pointer;
}

section#Plot a.OngletActif:hover,section#Plot a.OngletNonActif:hover{
    background: #1a173c;
}

section#Plot a.OngletActif{
    background: #0f056b;
}

section#Plot a.OngletNonActif{
    background: #453aa6;
}

section#Plot a#OngL{
    margin-left: 1%;
}

section#Plot div.PlotFenetre{
    background: url(../image/fondPlot.png);
    background-size: cover;
    display: block;
    text-align: center;
}

section#Plot div.PlotFenetre .Shut{
    display: block;
    width: 20px;
    height: 20px;
    background: url(../image/shut.png);
    background-size: 100% 100%;
    cursor: pointer;
    position: relative;
    float: right;
}

section#Plot div.PlotFenetre .Shut:hover{
    background: url(../image/shuthover.png);
    background-size: 100% 100%;
}

section#Plot div.PlotFenetre h3{
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

section#Plot div.PlotFenetre table#tableSpectrumChangeNoNorm,section#Plot div.PlotFenetre table#tableSpectrumChangeNorm{
    _margin: 0 auto;
    _margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-collapse:collapse;
}

section#Plot div.PlotFenetre table#tableSpectrumChangeNoNorm{
    margin-left: 10%;
}

section#Plot div.PlotFenetre table#tableSpectrumChangeLsd{
    _margin-left: 10%;
    _margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse:collapse;
}

section#Plot div.PlotFenetre table th{
    background: white;
    color: #0f056b;
    padding: 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

section#Plot div.PlotFenetre table#tableSpectrumChangeNoNorm th:hover,section#Plot div.PlotFenetre table#tableSpectrumChangeNorm th:hover{
    background: #453aa6;
    color:white;
    cursor: pointer;
}

section#Plot div.PlotFenetre table td{
    color: white;
    padding: 10px;
    font-size: 0.95em;
}

section#Plot div.PlotFenetre table td.un{
    background: #0f056b;
}

section#Plot div.PlotFenetre table td.deux{
    background: #453aa6;
}

section#Plot div.PlotFenetre .tablePlaceL{
    width: 58%;
    margin:0 auto;
}

section#Plot div.PlotFenetre .tablePlaceN{
    width: 77%;
    margin:0 auto;
}

section#Plot div.PlotFenetre .plotspectranorm,section#Plot div.PlotFenetre .plotspectranonorm,section#Plot div.PlotFenetre .plotspectralsd{
    width: 90%;
    margin:0 auto;
}

section#Plot div.PlotFenetre #plot1,section#Plot div.PlotFenetre #plot2,section#Plot div.PlotFenetre #plot3,section#Plot div.PlotFenetre #plot4,section#Plot div.PlotFenetre #plot5,section#Plot div.PlotFenetre #plot6{
    display: block;
    position: relative;
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    float: left;
    _border:2px solid #0f056b;
}

section#Plot div.PlotFenetre #plot3,section#Plot div.PlotFenetre #plot4,section#Plot div.PlotFenetre #plot5,section#Plot div.PlotFenetre #plot6{
    display:none;
}

section#Plot div.PlotFenetre #plot2,section#Plot div.PlotFenetre #plot4,section#Plot div.PlotFenetre #plot6{
    margin-left: 10px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////   Partners   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

section.Partners table.tablePartners{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px;
    _border-collapse: collapse;
    text-align: center;
}

section.Partners table.tablePartners th{
    background: #453aa6;
    color: white;
    font-size: 1.2em;
    width: calc(100%/3);
    font-variant: small-caps;
    font-weight: bold;
    padding: 20px;
}

section.Partners table.tablePartners td{
    background: white;
    color: #0f056b;
    font-size: 1em;
    padding: 20px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////   Citation   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

section.Citation p.citation{
    width: 80%;
    color: white;
    font-size: 1.7em;
    text-align: center;
    padding: 100px 10%;
    font-variant: small-caps;
}

section.Citation p.citation a{
    color: white;
    text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////   Contact   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

section.Contact{
    text-align: center;
}

section.Contenu div.TitreContact, section.Contenu div.TitrePartners{
    display: block;
    text-align: center;
    color: white;
}

section.Contenu div.TitreContact h1, section.Contenu div.TitrePartners h1{
    font-size: 2.2em;
    padding: 20px 0;
    font-variant:small-caps;
    font-weight: bold;
    text-decoration: underline;
}

section.Contenu iframe.map{
    width: 700px;
    height: 350px;
}

section.Contenu img.TrajetObsMipTarbes{
    height: 350px;
}

section.Contenu p.coordonnees{
    color: white;
    font-variant: small-caps;
    font-size: 1.6em;
    padding: 40px;
}

section.Contenu img.imgtop{
    width: 100%;
}

/*//////////////////////////////   Formulaire   ///////////////////////////*/

form.Formulaire table.FormContact,.FormContact{
    width: 60%;
    margin: 0 auto;
}

form.Formulaire table.FormContact .th{
    text-align: center;
    font-size: 1.6em;
}

form.Formulaire table.FormContact .textform3{
    width:95%;
    height: 140px;
    padding: 5px;
}

form.Formulaire table.FormContact .textform2{
    width:95%;
    height: 20px;
    padding: 0 5px;
}

form.Formulaire table.FormContact .textform1{
    width:90%;
    height: 20px;
    padding: 0 5px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////   Partners   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

section.ML h3{
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.4em;
    padding: 20px 70px;
}

section.ML p{
    color: white;
    font-size: 1em;
    padding: 10px 80px;
    text-align: justify;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////   Footer   /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

footer{
    background: white;
}

img.LogoFooterPolarBase{
    height: 50px;
    margin-left: 30px;
    padding: 20px 0;
    float:left;
}

footer p{
    float:left;
    line-height: 90px;
    padding: 0 40px;
    color: #0f056b;
    font-weight: bold;
}

footer p a{
    color: #0f056b;
}

img.PartnersFooterPolarBase{
    float:right;
    height: 70px;
    padding: 10px 30px 10px 0;
}















ul.Menu2{
    font-size: 1.2em;
    list-style:none;
    text-align:center;
    font-weight: bold;
    width: 100%;
    margin : 0;

}

ul.Menu2 li{
    width: 25%;
    padding: 20px 0;
    display : inline-table;

}

ul.Menu2 a{
    color: #0f056b;
    padding: 10px 30px;
    font-variant:small-caps;
    display : block;

}

ul.Menu2 a:hover{
    background: #453aa6;
    color: white;
    cursor: pointer;

}

ul.Menu2 a.selected{
    border: 2px solid #0f056b;
}


.hide {
    display:none;
}


#requester{
    background: #0f056b;
    text-align: center;
    width: 100%;

}




.objet, .blocs, .spectres, .fonction {

    padding-left: 30px;

}


.titrebox {


    padding-top: 0;
    position: absolute;
    top: 0;
    right: 0;

}

.title {

    /*border:3px dotted #ee057f;*/
    width:99%;
    display : block;
    color : white;
    font-variant: small-caps;
    text-align: center;
    font-size : 150%;

}
.boxTab {
    position: relative;
    width: 600px;
    height: 460px;
    padding-top : 0;

}

.boxTab2 {
    position: relative;
    width: 600px;
    height: 260px;
    padding-top : 0;

}


.boxTab3 {
    position: relative;
    width: 600px;
    height: 200px;
    padding-top : 0;

}

.boxTab4 {
    position: relative;
    width: 400px;
    height: 200px;
    padding-top : 0;
    padding-left: 10%;

}

.boxTab5 {
    position: relative;
    width: 600px;
    height: 760px;
    padding-top : 0;

}
.selectedField {
    background-color :#453aa6;
}


#eltRequete, #ensElt {

    color : white;
    display : block;
    font-weight: bold;
    position: absolute;
    /*top: 40px;*/

    font-variant:small-caps;
    max-width:280px;
    max-height: 420px	;

}
#eltRequete, #ensElt{

    overflow: auto;
    width:  80%;
    height: 86.7%;
    top : 10%;
    left: 15%;
}



#conditionsEq {

    color : white;
    display : block;
    font-weight: bold;
    position: absolute;
    /*top: 40px;*/
    width:  80%;
    height: 68%;
    top : 17%;
    left: 15%;
    font-variant:small-caps;
    max-width:280px;
    max-height: 200px	;
    padding-top: 0;
}

#conditionsAutreFonction {

    color : white;
    display : block;
    font-weight: bold;
    position: absolute;
    /*top: 40px;*/
    width:  80%;
    height: 80%;
    top : 32%;
    left: 15%;
    font-variant:small-caps;
    max-width:280px;
    max-height: 120px	;

}
/*
#conditionsEq {
    max-width:280px;
    max-height: 250px	;
    width:  100%;
    height: 100%;
}
*/


#fonctionsGeometriques {
    max-width:1280px;
    max-height: 500px	;
    width:  100%;
    height: 100%;
    color : white;
    display : block;
    overflow: auto;

    font-weight: bold;

    position: absolute;
    top: 40px;
    left: 0;


}

#eltRequete , #ensElt, #conditionsEq, #conditionsAutreFonction, #ordering {

    border: 4px solid white;

}



#conditionsRequete{
    width: 1280px;
    height: 600px;
    font-variant:small-caps;


}


/*********************************************************/



#fonctionsGeometriques/* Toutes les cellules des tableaux... */
{

    border: 4px solid white; /* auront une bordure de 2px rouge*/
}


/*
td /* Toutes les cellules des tableaux...
{
	border: 2px solid red; /* auront une bordure de 2px rouge
}
*/

/*********************************************************/

.areaRequest{
    text-align: center;

    width: 74%;
    /*width: 100%;*/

}

#input_requete {

    width:  80%;
    height:  100%;

}


.boutonRequeteur{
    color: white;
    border:1px solid white;
    background: #0f056b;
    font-family: 'CaviarDreams';
    width: 160px;
    height: 30px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.2em;
    font-variant:small-caps;
    overflow: hidden;
}

a.boutonRequeteur {
    display: inline-block;
    height: 38px;
    line-height: 40px;
    /*margin:22px 50px 0px 50px;*/
    margin:15px 25px 0px ;
    margin-left: 21.5%;
    text-align: center;

}

.boutonRequeteur:hover{
    background: #453aa6;
    color: white;
    cursor: pointer;
}






#attributEq {
    background: #0f056b;
    color: white;
    font-variant:small-caps;
    font-family: 'CaviarDreams';
    font-weight: bold;
    height: 35px;
    font-size: 1.2em;
    top: 30%;

    text-align: center;
    margin-left: 30%;
    width: 120px;


}

#requester select {
    padding:3px;
    border:1px solid #F5C5C5;
    /*border-radius:5px;*/
    width:140px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    margin:5px;

    background-color: #f4fcff;
}


#conditionEq1 {

    margin-left:33%;

}





#requester .selectReq {

    margin-left:26%;

}


.inputEq {
    background: #f4fcff;
    color: #0f056b;
    font-variant:small-caps;
    font-family: 'CaviarDreams';
    font-weight: bold;
    /*height: 30px;*/
    height: auto;
    font-size: 1.2em;
    top : 3px;
    text-align: center;
    width: 100px;


}

#valeurPower{
    margin-left: 35%;

}

#requester #selectFunction {
    margin-left:26%;

}


#formCondition {

    margin-top : 3%;
}

table.ResultsFonction{
    width: 98%;
    color: white;
    border-collapse:collapse;
    margin: 0 auto;
}

#ligneResultat{
    background: #453aa6;
}



table.ResultsFonction td, table.ResultsFonction th{
    border: 2px solid white;
    padding: 5px;
}

table.ResultsFonction th{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
}

table.ResultsFonction td {
    font-size: 0.8em;
}

/*
@media screen and (max-width:600px)  {
	#tableauRequete td:before {
		content: attr(data-label);
		float : left;
		text-transform : uppercase;
		font-weight : bold;

	}
}
*/


#ordering {

    color : white;
    display : block;
    font-weight: bold;
    position: absolute;
    width:  80%;
    height: 90%;
    top : 16%;
    left: 10%;
    font-variant:small-caps;
    max-width:300px;
    max-height: 140px	;

}





#ValOrder {
    color: #0f056b;
    font-variant:small-caps;
    font-family: 'CaviarDreams';
    font-weight: bold;
    height: 35px;
    font-size: 1.2em;

    text-align: center;
    margin-left: 29.5%;
    width: 120px;


}

#selectOrder {

    top : 20%;
}





#graphiqueHR {
    float: left;

    width: 100%;
    height: 100%;
    min-height: 100px;
    min-width: 200px;
    max-height: 768px;
    max-width: 610px;
}
#rayonCercleGraphiqueHR {
        margin: 1%;


}


#container {

    width: 100%;
    height: 100%;
    min-height: 100px;
    min-width: 200px;
    max-height: 768px;
    max-width: 610px;
    margin: 0 auto;

}

#rayonCercleGraphiqueHR{
    font-family: 'CaviarDreams';
    color : white;
    font-variant: small-caps;
    font-weight: bold;


}


.boutonCercle{
    color: white;
    border:1px solid white;
    background: #0f056b;
    font-family: 'CaviarDreams';
    width: 30px;
    height: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.8em;
    font-variant:small-caps;
}

 a.boutonCercle{
    display: inline-block;
    height: 30px;
    line-height: 32px;
    margin:25px 25px 0px 30px;
}

.boutonCercle:hover{
    background: #453aa6;
    color: white;
    cursor: pointer;
}

.tableauRegion {
    color: white;
    font-family: 'CaviarDreams';
    font-weight: bold;
    font-variant:small-caps;
}

.region {
    display: inline-block;
}

#conditionsRequete select{
    padding:3px;
    border:1px solid #F5C5C5;
    /*border-radius:5px;*/
    width:100px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    margin:5px;

    background-color: #f4fcff;
}

.fonctionGeometrique{
  /*  position: relative;*/
    width: 90%;
    height: 100%;
    max-height:220px;
    max-width: 620px;
    /*margin: 0 auto;*/
    color:white;
    font-weight: bold;
    margin-bottom: 5%;
}



.boutonGeometrie{
    color: white;
    border:1px solid white;
    background: #0f056b;
    font-family: 'CaviarDreams';
    width: 40px;
    height: 35px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    font-variant:small-caps;
}

a.boutonGeometrie{
    display: inline-block;
    height: 40px;
    line-height: 33px;
  /*  margin:15px 15px 20px 150px;*/
    margin: 1.5% 1.5% 2% 15%;
    padding-left: 2.5%;
}

.boutonGeometrie:hover{
    background: #453aa6;
    color: white;
    cursor: pointer;
}



#titreRequete {

    /*border:3px dotted #ee057f;*/
    width:99%;
    display : block;
    color : white;
    font-variant: small-caps;
    text-align: center;
    font-size : 150%;


}

.titleGeometrie {
    width:99%;
    display : block;
    color : white;
    font-variant: small-caps;
    font-size : 150%;

}

#showPlot {
    margin-left: 15%;

    font-size :150%;
    font-weight: bold;

}

#checkPlot {
    margin-left: 60%;
    width:15%;
    height: 15%;
}

#valeurPower:disabled, #ValOrder:disabled {
      background: grey;
}
