form {
    .input-container {
        background-color: #fff;
        border: 1px solid $lisibilityColor;
        padding: 0.5rem;
        cursor: text;
        border-radius: 0.25rem;
        
        input, textarea {
            border: none;
            outline: none;
            width: calc(100% - 1rem);
            font-family: $regularFont;
        }

        textarea {
            resize: none;
            height: 6rem;
        }
    }

    select {
        border: 1px solid $lisibilityColor;
        padding: 0.5rem;
        outline: none;
        border-radius: 0.25rem;
        font-family: $regularFont;
    }

    label {
        font-weight: bold;
        padding-bottom: 0.5rem;
    }
}